In [82]:
import requests
from bs4 import BeautifulSoup
import time
import pandas as pd

In [83]:
url1 ='https://www.lankapropertyweb.com/rentals/index.php?page='
url2 ='&property-type=Apartment'

In [86]:
apartments = []

for page in range(1,4):
    url = url1 + str(page) + url2

    r = requests.get(url)

    soup = BeautifulSoup(r.content, 'html.parser')

    content = soup.find_all('div', class_='thumbnail')


    for property in content:
        try:
            area_name = property.find('div', class_='areaname').text
        except:
            area_name = 'No Record'

        try:
            price = property.find('span', class_='priceList').text
        except: 
            price = 'No Record'

        try:
            price_type = property.find('span',class_='price_type').text
        except:
            price_type = 'No Record'

        try:
            rooms = property.find('span', class_='room_str_change').string
        except:
            rooms = 'No Record'
        
        try:
            wrapper = property.find('span', class_="property-type-wrapper").text
        except:
            wrapper = 'No_Record'
        apartment_info = {
            'Area':area_name,
            'Price':price,
            'Price Type':price_type,
            'Rooms':rooms,
            'Wrapper':wrapper
        }
        apartments.append(apartment_info)
    time.sleep(2)

In [89]:
df = pd.DataFrame(apartments)
df.to_csv('Apartmentspropertyweb.csv')
df.head()

          Area                   Price Price Type Rooms    Wrapper
0   Colombo 5   Rs. 140,000 Per Month   Per Month     3  Apartment
1   Colombo 5       Rs. 7,000 Per Day     Per Day     3  Apartment
2   Colombo 2                           No Record     4  Apartment
3   Colombo 2                           No Record     2  Apartment
4   Colombo 2                           No Record     3  Apartment